.root {
    -fx-background-color: #f4f4f4;
}

.sidebar {
    -fx-background-color: #003f63;
    -fx-padding: 20px;
}

.sidebar Button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.sidebar Button:hover {
    -fx-background-color: #005f87;
    -fx-border-radius: 5px;
}

.navbar {
    -fx-background-color: #003f63;
    -fx-padding: 10px;
}

.navbar Button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.navbar Button:hover {
    -fx-background-color: #005f87;
}
